<!DOCTYPE html>
<html>
  <head>
    <title>Focus Time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js" ></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" data-role="none"></script>

    <link rel="stylesheet" type="text/css" href="../../style.css">
    <script src="/js/like.js"></script>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-159601585-1', 'auto');
    ga('send', 'pageview');
    ga('require', 'GTM-MLPBVKK');
    </script>
    <!-- End Google Analytics -->

    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body >
    <div class="header-pad">
      <img src={{url}} id="profpic"></img>
      </div>
    <div class="event-details">
      <h1 >{{name}}</h1>
      <h1 id="time">{{session.time}}</h1>
      <h2>minutes</h2>
      </br>
      <h3>{{session.date}}</h3>
      <h3>{{session.reward}}</h3>
      <h3>{{session.consequence}}</h3>
      <h1 id="completed"></h1>

      </br>
      <!--<form action="/timer">
        <input type="submit" id="start" value="Start Session">
        <input type="hidden" name="time" value='{{time}}'>
      </form>-->
      <div id="input" value="Start Session"data-role="none">
        <h4 style="color:#fff;margin-top:10px">Start Session</h4>
      <div id="handle" style="width:50px;height:50px;border-radius:25px;background-color:#f0f0f0;margin:auto;
      margin-left:-125px;z-index:4;position:absolute;transition:0.5s ease-in-out"></div></div>
      <script>
        $("#handle").on("swiperight",function(e){
          $(this).css({
            transform: "translateX(250px)"
          });
          $('#input').css({backgroundColor:"#ff6d6d"});
        });
        $("#handle").on("swiperight",function(e){
          $("#return").hide();
          $("#endlnk").show();
          $('.header-pad').toggleClass('started');
          $('#start').hide();
          $('h4').text("Session Started!");
          $('#delet').hide();
          $('#end').attr("value","End Session");
          $('#end').attr("style","background-color:#ff6a6a");

          var realTime = {{session.time}};
          var deadline = new Date();//gets current date and time
        	deadline.setHours(deadline.getHours());//adds 1 to the current hours
        	deadline.setMinutes(deadline.getMinutes() + realTime);
        	deadline.setSeconds(deadline.getSeconds());

          //starter code from https://www.geeksforgeeks.org/create-countdown-timer-using-javascript/
        	var x = setInterval(function() {
        	var now = new Date().getTime();
        	var t = deadline - now;
        	var days = Math.floor(t / (1000 * 60 * 60 * 24));
        	var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
        	var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        	var seconds = Math.floor((t % (1000 * 60)) / 1000);
        //	document.getElementById("timer").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
              //console.log(t);
              //console.log(realTime);
              if (t < 0) {
        	        clearInterval(x);
                  $('#end').attr("value","I'm Finished");
                  $('#endlnk').attr('href', "/finished?name={{name}}&result=succeeded");
                  document.getElementById("completed").innerHTML = "Congats! You're Done";
                  $('#end').attr("style","background-color:#7CFF6A");
                  $('.header-pad').attr("style","background-color:#7CFF6A");

        	    }
        	}, 1000);

        });
      </script>

<!--
      <form action="/timer">
       <input type="hidden" name="time" value='{{time}}'>
     </form>-->

      </br>
      <form data-ajax="false" action="/delete">
        <input type="submit" id="delet" value="Delete Event">
        <input type="hidden" name="name" value='{{name}}'>
      </form>
      </br>
      <a id="return" rel="external" href="/sessions">
        <input type="button" value="Return Home">
      </a>
      <a id="endlnk" rel="external" href="/finished?name={{name}}&result=failed">
        <input type="button" id="end" value="Return Home">
      </a>
      <script>
        $("#endlnk").hide();
      </script>
      <style>
        .ui-btn{
          color:#fff;
        }
      </style>
    </div>
  </body>
</html>
