<!DOCTYPE html>
<html>
  <head>
    <title>Focus Time</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../routes/event.js"></script>
  </head>
  <body>
    <div class="header-pad"></div>
    <div class="event-details">
      <h1 >{{name}}</h1>
      <h1 id="time">{{session.time}}</h1>
      <h2>minutes</h2>
      </br>
      <h3>{{session.date}}</h3>
      <h3>{{session.reward}}</h3>
      <h3>{{session.consequence}}</h3>
      <h1 id="completed"></h1>

      </br>
      <!--<form action="/timer">
        <input type="submit" id="start" value="Start Session">
        <input type="hidden" name="time" value='{{time}}'>
      </form>-->
      <input type="submit" id="start" value="Start Session">
      <script>
        $('#start').click(function(e){
          e.preventDefault();
          $('.header-pad').toggleClass('started');
          $('#start').hide();
          $('#delet').hide();
          $('#end').attr("value","End Session");
          $('#end').attr("style","background-color:#ff6a6a");

          var realTime = {{session.time}};
          var deadline = new Date();//gets current date and time
        	deadline.setHours(deadline.getHours());//adds 1 to the current hours
        	deadline.setMinutes(deadline.getMinutes() + realTime);
        	deadline.setSeconds(deadline.getSeconds());

          //starter code from https://www.geeksforgeeks.org/create-countdown-timer-using-javascript/
        	var x = setInterval(function() {
        	var now = new Date().getTime();
        	var t = deadline - now;
        	var days = Math.floor(t / (1000 * 60 * 60 * 24));
        	var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
        	var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        	var seconds = Math.floor((t % (1000 * 60)) / 1000);
        //	document.getElementById("timer").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
              //console.log(t);
              //console.log(realTime);
              if (t < 0) {
        	        clearInterval(x);
                  $('#end').attr("value","I'm Finished");
                  document.getElementById("completed").innerHTML = "Congats! You're Done";
        	    }
        	}, 1000);

        })
      </script>

<!--
      <form action="/timer">
       <input type="hidden" name="time" value='{{time}}'>
     </form>-->

      </br>
      <form action="/delete">
        <input type="submit" id="delet" value="Delete Event">
        <input type="hidden" name="name" value='{{name}}'>
      </form>
      </br>
      <a href="/sessions">
        <input type="button" id="end" value="Return Home">
      </a>
    </div>
  </body>
</html>
