<!DOCTYPE html>
<html>
  <head>
    <title>Focus Time</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>  
  <body>
    <h1>{{name}}</h1>
    <h2>Focusing for {{session.time}} minutes</h2>
    <h2>On {{session.date}}</h2>
    <h2>{{session.reward}}</h2>
    <h2>{{session.consequence}}</h2>
    <a href="/"> Click here to go back!</a>
  </body>
</html>