<!DOCTYPE html>
<html>
  <head>
    <title>Focus Time</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/like.js"></script>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-159601585-1', 'auto');
    ga('send', 'pageview');
    ga('require', 'GTM-MLPBVKK');
    </script>
    <!-- End Google Analytics -->
  </head>
  <body>
    {{> header }}
    <div class="event-details">
      <h1 >{{name}}</h1>
      <h1 id="time">{{session.time}}</h1>
      <h2>minutes</h2>
      </br>
      <h3>{{session.date}}</h3>
      <h3>{{session.reward}}</h3>
      <h3>{{session.consequence}}</h3>
      <h1 id="completed"></h1>

      </br>
      <!--<form action="/timer">
        <input type="submit" id="start" value="Start Session">
        <input type="hidden" name="time" value='{{time}}'>
      </form>-->
      <input type="submit" id="start" value="Start Session">
      <script>
        $('#start').click(function(e){
          e.preventDefault();
          $("#return").hide();
          $('#edit').hide();
          $("#endlnk").show();
          $('.header-pad').toggleClass('started');
          $('#start').hide();
          $('#delet').hide();
          $('#end').attr("value","End Session");
          $('#end').attr("style","background-color:#ff6a6a");
          $('#endlnk').attr('href', '/finished?name={{name}}&result=failed');

          var realTime = {{session.time}};
          var deadline = new Date();//gets current date and time
        	deadline.setHours(deadline.getHours());//adds 1 to the current hours
        	deadline.setMinutes(deadline.getMinutes() + realTime);
        	deadline.setSeconds(deadline.getSeconds());

          //starter code from https://www.geeksforgeeks.org/create-countdown-timer-using-javascript/
        	var x = setInterval(function() {
        	var now = new Date().getTime();
        	var t = deadline - now;
        	var days = Math.floor(t / (1000 * 60 * 60 * 24));
        	var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
        	var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        	var seconds = Math.floor((t % (1000 * 60)) / 1000);
        //	document.getElementById("timer").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
              //console.log(t);
              //console.log(realTime);
              if (t < 0) {
        	        clearInterval(x);
                  $('#end').attr("value","I'm Finished");
                  $('#endlnk').attr('href', "/finished?name={{name}}&result=succeeded");
                  document.getElementById("completed").innerHTML = "Congats! You're Done";
                  $('#end').attr("style","background-color:#7CFF6A");
                  $('.header-pad').attr("style","background-color:#7CFF6A");

        	    }
        	}, 1000);

        })
      </script>

<!--
      <form action="/timer">
       <input type="hidden" name="time" value='{{time}}'>
     </form>-->

      </br>

      <form action="/delete">
        <input type="submit" id="delet" value="Delete Event">
        <input type="hidden" name="name" value='{{name}}'>
      </form>
      </br>
      <a id="edit" href="/editevent?name={{name}}">
        <input type="button" value="Edit Event">
      </a>
      <a id="return" href="/sessions">
        <input type="button" value="Return Home">
      </a>
      <a id="endlnk" href="/finished?name={{name}}&result=failed">
        <input type="button" id="end" value="Return Home">
      </a>
      <script>
        $("#endlnk").hide();
      </script>
    </div>
  </body>
</html>
