<!DOCTYPE html>
<html>
  <head>
    <title>Focus Time</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/finished.js"></script>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-159601585-1', 'auto');
    ga('send', 'pageview');
    ga('require', 'GTM-MLPBVKK');
    </script>
    <!-- End Google Analytics -->
  </head>
  <body>
    {{> header }}
    <div class="event-details"><br><br>
        {{#if success}}
        <h1 id="head-txt">Great job!</h1>
        <p id="p-txt" style="font-size: 1.5em;">Keep up the great work!</p><br><br><br>
        {{else}}
        <h1 id="head-txt">Oh no!</h1>
        <p id="p-txt" style="font-size: 1.5em;">Better luck next time!</p><br><br><br>
        {{/if}}
        <div class="likeCtr">Click like button if I enjoyed the interaction <button class="btn btn-default likeBtn">Like</button></div>
        <br>
        <br>
        <form action="/add">
          <input type="submit" id="add" value="Reschedule For Next Week">
          <input type="hidden" name="name" value='{{name}} 2'>
          <input type="hidden" name="StartDate" value='{{startDate}}'>
          <input type="hidden" name="StartDateTime" value='{{startTime}}'>
          <input type="hidden" name="time" value='{{session.time}}'>
          <input type="hidden" name="reward" value='{{session.reward}}'>
          <input type="hidden" name="consequence" value='{{session.consequence}}'>
          <input type="hidden" name="result" value="upcoming">
        </form>
        <form action="/delete">
          <input type="submit" id="delet" value="Delete This Event">
          <input type="hidden" name="name" value='{{name}}'>
        </form>
    </div>
  </body>
</html>
